main>section {
    position: absolute;
    top: 250px;
    left: 180px;
}

main>section>div>h3 {
    font-size: 16px;
    margin: 0px;
}

main>section>div>h3>span {
    padding-left: 3px;
    color: gray;
    font-size: 14px;
}

main>section>div {
    position: relative;
    bottom: 50px;
    left: 8px;
}