* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #EEEEEE;
    display: flex;
}

.gallery {
    margin: 70px 165px;
}

.gallery li {
    border: 8px solid black;
    background-color: #FFFFFF;
    padding: 22px;
    margin: 15px 0px;
    box-shadow: 1px 1px 13px -1px black;
    display: flex;
    align-items: center;
}

.gallery ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}