/* 
        Article ul 
-----------------------------
*/
.articles li{
    display: inline-block;
    width: 30%;
    margin-right: 5%;
}

/* 
        Article component 
-----------------------------
*/
.article{
    width: 100%;
    /* width is calculated as 100% of the parent element li */
}

/* in the html file we additionally create a div element around the image and give him the class img_wrapper
in order to set the aspect ration of the image, that will fit in its parent element with "object-fit"*/
.article .article__img_wrapper{
    aspect-ratio: 1/1;
    border-radius:21px;
    margin-bottom: 12px;
    overflow: hidden;
     /* the part of our image that comes out of this wrapper should not be visible, so that the border-radius is still showing */
}

.article .article__img_wrapper .article__img{
    object-fit: cover;
    /* object-fit: contain; will make the image squeeze in the stated ration, which might not be the same as the image ratio*/
    height: 100%;
    width: 100%;
}

.article .article__title{
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.article .article__desc{
    font-size: 14px;
    font-weight: 300;
    color: #718096;
    line-height: 22px;
}

/* 
        Tag component 
-----------------------------
*/
.tag{
    display: inline-block;
    margin-bottom: 12px;
    font-size:12px;
    padding: 4px 10px;
    border-radius: 6px;
}

.tag.tag--info{
    background-color: #90cdf4;
    color: #2c5282;
}

.tag.tag--success{
    background-color: #9ae6b4;
    color: #276749;
}

.tag.tag--warn{
    background-color: #faf089;
    color: #975a16;
}

.tag.tag--danger{
    background-color: #feb2b2;
    color: #9b2c2c;
}