@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Merriweather:wght@700&family=Open+Sans:wght@300;400;500;700&family=Work+Sans:wght@600&display=swap');

body{
    background-color: #f7fafc;
}

body{
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Archivo", sans-serif;
}