<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello world</title>
</head>
<body>
<form th:action="@{/user/add}" method="post">
    <label for="first-name">First name:</label>
    <input type="text" id="first-name" name="firstName"><br>
    <label for="last-name">Last name:</label>
    <input type="text" id="last-name" name="lastName"><br>
    <input type="submit" value="Create">
</form>
</body>
</html>
