body {
    padding: 5px 15px;
    background-color: #e4e978;
    width: 684px;
}

section {
    font-style: italic;
    color: #5c6e91;
}

article {
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
    padding: 0px 15px 10px 15px;
}