
body {
    background: linear-gradient(rgb(23, 23, 23), rgba(23, 23, 23, 0.6)), url(/img/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: sans-serif;

}

img {
    opacity: 0.5;
}

nav {
    background: #333333;
    margin: 0;
    padding: 15px;
}

.title {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: oldlace;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: oldlace;
    text-align: center;
    padding-top: 1rem;
    height: 3rem;
}

.a {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: oldlace;

}

.b {
    font-size: 35px;
    font-family: Arial, serif;
    font-weight: bold;
    color: oldlace;

}

.c {
    font-size: 35px;
    font-family: Arial, serif;
    color: #CC2952;

}

.button {
    background-color: #CC2952;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;


}

.prBtn{
    margin: auto;
    margin-left: 5px;
}

.transition {
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

.center {
    margin-top: 100px;
    text-align: center;
}

.bg-blur {
    background-color: rgb(52,58,64); /* Fallback color */

    color: oldlace;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid oldlace;
    border-radius: 20px;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;

}

.badge {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: oldlace;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

small {
    font-size: 15px;
}

label {
    color: oldlace;
}

.content-wrap {
    padding-bottom: 5rem; /* Footer height */
}

.task-card {
    color: rgb(23, 23, 23); /* Black w/opacity/see-through */
    background-color: dimgrey;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid #959595;
    border-radius: 20px;
    z-index: 2;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;


}

label {
    color: black;
    font-style: oblique;
}

.classifications {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    flex-grow: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: normal;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;

}

h5 {
    text-align: center;
}

.FEATURE {
background-color: #007bff;
}

.BUG {
background-color: #bd2130;
}

.SUPPORT {
background-color: #34ce57;
}

.OTHER {
    background-color: #6610f2;
}

.new-line{
    display: block;
}