<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Andrey's</title>
        <link rel="stylesheet" href="/css/reset-css.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<a class="nav-link text-white active h5" href="/">Andrey's</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
				<ul class="navbar-nav row">
					<li class="col-md-4">
						<a class="nav-link text-white active h6" href="/">Add Item</a>
					</li>
					<li class="col-md-4">
						<a class="nav-link text-white active h6" href="/">Logout</a>
					</li>
				</ul>
			</div>
	</nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Item</span></h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-25 bg-dark p-3 rounded text-center" action="/" method="">
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Name</label>
            </div>
            <input type="text" class="form-control" id="name" name="name" />
            <small class="text-danger">Incorrect name!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <input type="text" class="form-control" id="description" name="description"/>
            <small class="text-danger">Incorrect description</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" id="category" name="category">
                <option value="">Select category</option>
                <option value="SHIRT">Shirt</option>
                <option value="DENIM">Denim</option>
                <option value="SHORTS">Shorts</option>
                <option value="JACKET">Jacket</option>
            </select>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="gender" class="h4 mb-2">Gender</label>
            </div>
            <select class="browser-default custom-select" id="gender" name="gender" >
                <option value="">Select gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
            </select>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input type="number" class="form-control" id="price" name="price"/>
            <small class="text-danger">Incorrect price!</small>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary text-white mb-3">Add Item</button>
        </div>
    </form>
</main>
<footer class="footer bg-dark  py-2">
		<div class="container-fluid text-center">
			<div class="footer-background h5 text-white">
				Andrey's & Spring Team 2020.
			</div>
		</div>
</footer>
</body>
</html>
