<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Details</span></h1>
    <hr class="my-3"/>
    <div class="container-fluid bg-dark w-25 m-auto ">
        <div class="row justify-content-center ">
            <div th:object="${item}" class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="*{imgUrl}" alt="Card image cap">
                <div class="card-body bg-gray align-content-center text-center">
                    <h6 th:text="*{name}">Item name</h6>
                    <p class="card-text" th:text="*{description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi enim,
                        excepturi ha </p>
                    <h6 th:text="*{price}">Price</h6>
                    <a th:href="@{/items/delete/{id}(id = *{id})}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
