<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Items</span></h1>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Total count of items: 3</span></h1>
    <hr class="hr-3"/>
    <div class="container-fluid">
        <div class="offers row mx-auto d-flex flex-row justify-content-center">
            <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a href="/">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" src="/img/MALE-SHORTS.jpg" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center">Item name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center"><span>Item price</span></div>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a href="/">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" src="/img/FEMALE-SHORTS.jpg" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center">Item name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center"><span>Item price</span></div>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a href="/">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" src="/img/MALE-DENIM.jpg" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center">Item name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center"><span>Item price</span></div>
                        </li>
                    </ul>
                </a>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
