<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Andrey's</title>
        <link rel="stylesheet" href="/css/reset-css.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
     <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <a class="nav-link text-white active h5" href="/">Andrey's</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">

                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h6" href="/">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h6" href="/" >Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container bg-gray p-3 rounded  text-center mt-5">
        <h1>Welcome to Andrey's</h1>
        <hr class="my-3"/>
        <p class="h4">On our website you will find the best clothes to match your style.</p>
        <hr class="my-3"/>
        <h3>
            <a class="text-primay" href="/">Login</a>
            if you have an account or
            <a class="text-primay" href="/">Register</a>
            now and check our deals.
        </h3>
    </div>
</main>
<footer class="footer bg-dark  py-2">
		<div class="container-fluid text-center">
			<div class="footer-background h5 text-white">
				Andrey's & Spring Team 2020.
			</div>
		</div>
	</footer>
</body>
</html>
