<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <div class="container bg-gray p-3 rounded  text-center mt-5">
        <h1>Welcome to Andrey's</h1>
        <hr class="my-3"/>
        <p class="h4">On our website you will find the best clothes to match your style.</p>
        <hr class="my-3"/>
        <h3>
            <a class="text-primay" href="/users/login">Login</a>
            if you have an account or
            <a class="text-primay" href="/users/register">Register</a>
            now and check our deals.
        </h3>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
