<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Register</span></h1>
    <hr class="hr-3"/>
    <form class="mx-auto mb-5 text-center w-25 bg-dark p-3 rounded" th:action="@{/users/register}" method="POST">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="username" class="h4 mb-2 text-white">Username</label>
            </div>
            <input type="text" class="form-control" id="username" name="username"/>
            <small class="text-danger">Incorrect username!</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2">Email</label>
            </div>
            <input type="email" class="form-control" id="email" name="email"/>
            <small class="text-danger">Incorrect email!</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="budget" class="h4 mb-2">User budget</label>
            </div>
            <input type="number" class="form-control" id="budget" name="budget"/>
            <small class="text-danger">Incorrect budget!</small>

        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="password" class="h4 mb-2">Password</label>
            </div>
            <input type="password" class="form-control" id="password" name="password"/>
            <small class="text-danger">Incorrect pasword!</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
            </div>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"/>

        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary text-white mb-3" value="Register">Register</button>
        </div>
    </form>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
