<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/header"></header>

    <section class="road">
        <img src="/images/pic4.jpg" alt="Title image">
        <div>
            <h2>Your Route</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias reiciendis deleniti possimus nemo
                non repellendus?
                Quae atque vero modi quidem! Autem cupiditate fugit doloribus ad amet, asperiores provident commodi.</p>
            <a href="/" class="btn">Learn More</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/footer"></footer>
</html>