<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::head"></head>
<body>
<header th:replace="fragments/fragment::navigation"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Register</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded" th:object="${userRegisterBindingModel}" method="POST"
          action="/users/register">
        <div class="form-group">
            <h5 class="bg-danger rounded" th:if="${doesExist}">User already exists</h5>
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="username" class="h4 mb-2 text-white">Username</label>
            </div>
            <input th:field="*{username}" th:errorclass="bg-danger" type="text" class="form-control" id="username"
                   name="username"/>
            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Username error
                message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2">Email</label>
            </div>
            <input th:field="*{email}" th:errorclass="bg-danger" type="email" class="form-control" id="email"
                   name="email"/>

            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Email error
                message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="password" class="h4 mb-2">Password</label>
            </div>
            <input th:field="*{password}" th:errorclass="bg-danger" type="password" class="form-control" id="password"
                   name="password"/>
            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Password error
                message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
            </div>
            <input th:field="*{confirmPassword}" th:errorclass="bg-danger" type="password" class="form-control"
                   id="confirmPassword"
                   name="confirmPassword"/>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Register</button>
        </div>
    </form>
</main>

<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>
