@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background: #FAEBC8;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    box-shadow: 5px 5px 15px 5px #000000;
    background: white;
    padding: 50px;
    margin: 100px 200px;
    border-radius: 20px;
    text-align: center;
}

section article {
    vertical-align: top;
    display: inline-block;
    width: 220px;
    height: 450px;
    padding: 50px;
    text-align: center;
}

article p {
    text-align: left;
}

img {
    display: inline-block;
    width: 100px;
}

article div {
    font-style: italic;
    font-weight: bold;
    color: #AD7F77;
    text-shadow: grey 15px 15px 2px;
    text-align: left;
    position: absolute;
}
