html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}

.card {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.1vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    width: 500px;
    justify-content: flex-end;
    align-content: flex-end;
}

.details {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 15px;
}

.details button {
    background-color: rgb(0, 153, 0);
    color: #fff;
    padding: 5px;
    align-self: flex-end;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1.2em/1.2;
}

.image {
    width: 100%;
}


@media screen and (min-width: 366px) {
    body section {
        position: absolute;
    }
}