body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

body ul {
    background-color: #444444;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;

}

body li {
    display: inline-block;

    color: white;
    size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;

}

body a {
    text-decoration: none;
    color: #FFFFFF;

}

body section {
    margin-left: 20px;
}

body section article header h1 {
    font-size: 28px;
}

body section article header p {
    font-style: italic;
}

body section article p {
    font-size: 24px;
}

body footer {
    background-color: #444444;

}

body footer p {
    color: #fff;
    text-align: center;
    padding: 10px;
}