<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmaints/common::head}"></head>
<body>
<header th:replace="~{fragmaints/common::nav}"></header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1>Welcome to Shopping List App</h1>
        <hr class="my-3 bg-white w-50"/>
        <p class="h4">The application is here to help us keep in mind our shopping needs.</p>
        <hr class="my-3 bg-white w-75"/>
        <h3>
            <a class="text-primay" href="/">Login</a>
            if you have an account or
            <a class="text-primay" href="/">Register</a>
            now and check our deals.
        </h3>
    </div>
</main>
<footer th:replace="~{fragmaints/common::footer}"></footer>
</body>
</html>
