<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmaints/common::head}"></head>
<body>
<header th:replace="~{fragmaints/common::nav}"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add product</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/products/add}"
          th:object="${productModel}">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white">Name</label>
            </div>
            <input type="text" class="form-control" id="name"
                   th:field="*{name}"
                   th:errorclass="bg-danger"/>
            <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errorclass="is-valid"
                   th:errors="*{name}">Name error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea type="text" class="form-control" id="description"
                      th:field="*{description}"
                      th:errorclass="bg-danger"></textarea>
            <small class="text-danger" th:if="${#fields.hasErrors('description')}" th:errorclass="is-valid"
                   th:errors="*{description}">Description error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="neededBefore" class="h4 mb-2">Before</label>
            </div>
            <input type="datetime-local" class="form-control" id="neededBefore"
                   th:field="*{neededBefore}"
                   th:errorclass="bg-danger"/>
            <small class="text-danger" th:if="${#fields.hasErrors('neededBefore')}" th:errorclass="is-valid"
                   th:errors="*{neededBefore}">Needed before date error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input type="number" step="0.1" class="form-control" id="price"
                   th:field="*{price}"
                   th:errorclass="bg-danger"/>
            <small class="text-danger" th:if="${#fields.hasErrors('price')}" th:errorclass="is-valid"
                   th:errors="*{price}">Price error message</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" th:classappend="${#fields.hasErrors('category') ? 'bg-danger' : ''}" id="category" name="category">
                <option value="">Select category</option>
                <option th:each="c : ${categories}" th:text="${c}" th:value="${c}">Food</option>
            </select>

            <small class="text-danger" th:if="${#fields.hasErrors('category')}" th:errorclass="is-valid"
                   th:errors="*{category}">Category error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add product</button>
        </div>
    </form>
</main>

<footer th:replace="~{fragmaints/common::footer}"></footer>
</body>
</html>
