body {
    margin: 15px 30px;
    padding: 10px;
    background: rgb(238, 238, 238);
    font-size: 16px;
}

.page {
    display: flex;
    flex-wrap: wrap;

}

header {
    border-bottom: 3px solid black;
    text-transform: uppercase;
    flex-basis: 100%;
}

.title {
    font-family: Helvetica, sans-serif;
}


main {
    line-height: 1.5;
    font-size: 1.2rem;
    flex-basis: 100%;

}


img {
    padding: 10px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    box-shadow: 0px 0px 15px 1px #5E5E5E;
}

.image1 {
    float: right;
    width: 150px;
    height: 260px;
    margin: 0px 30px 30px 30px;
}

.image2 {
    float: left;
    margin: 0px 30px 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper>p {
    width: 170%;
    margin-right: 10px;
}

blockquote {
    font-family: Georgia, serif;
    color: rgb(125, 122, 127);
    font-size: 1rem;
    line-height: 1.5;
    font-style: italic;
    border-left: 2px solid rgb(221, 221, 221);
    padding-left: 40px;
    position: relative;
}

span {
    position: absolute;
    font-style: italic;
    position: absolute;
    font-style: italic;
    bottom: 30px;
    right: 10px;
}

@media (max-width: 500px) {
    body {
        font-size: 12px;
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 801px) and (max-width: 1300px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1301px) and (max-width: 1800px) {
    body {
        font-size: 21px;
    }
}

@media (min-width: 1801px) {
    body {
        font-size: 23px;
    }
}