* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

div {
    background-color: rgb(255, 255, 255);
}

.card {
    box-shadow: 1px 1px 13px -1px black;
    padding: 10px 20px 20px 10px;
    border-radius: 10px;
}

p {
    font-family: Helvetica, sans-serif;
}