@import 'https://use.fontawesome.com/releases/v5.10.2/css/all.css';

body {
    font-family: Arial, serif;
    line-height: 3;
    font-size: 18px;
}

body p a {
    text-decoration: none;
    color: #fff;
    border-radius: 5.40px;
    padding: 12.6px 27px;
}

body p a:hover {
    color: #eee;
}

body p a i {
    padding-right: 5.40px;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}