@import url("https://kit.fontawesome.com/abac687e18.js");

body {
    margin: 60px;
    background: rgb(251, 251, 251);
}

a,
button {
    cursor: pointer;
    outline: none;
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.hover {
    color: rgb(51, 51, 51);
}

.button {
    padding: 8px 16px;
    border-radius: 45px;
    border: none;
    font-size: 15px;
    margin-right: 10px;
    border: 3px solid rgb(51, 51, 51);
    background: rgb(251, 251, 251);
}

.button.hover:hover {
    background: rgb(251, 251, 251);
    border-color: rgb(0, 102, 0);
    color: rgb(0, 102, 0);
}

.button.button.fill:hover {
    background: rgb(0, 102, 0);
    color: rgb(251, 251, 251);
}

.fill {
    background: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}