<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head}"></head>
<body>
<div class="page-container">
    <header th:replace="~{fragments/common :: main-nav}"></header>
    <main class="content-wrap" >
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Tasks</span></h1>
        <hr class="hr-3 w-75 bg-white"/>
        <form class="mx-auto w-75 "
              th:each="t : ${homeModel.tasks}"
              th:object="${t}">
            <div class="card-group task-card">
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Name</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{name}">Repair Laptop</small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Assigned to</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{getUserUserName()}">George</small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Classification</h5>
                    </div>
                    <div class="card-footer">
                        <small class="classifications" th:classappend="*{getClassificationName()}" th:text="*{getClassificationName()}">SUPPORT</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title" th:text="*{#temporals.format(dueDate,'yyyy-MM-dd')}" >Due Date</h5>
                    </div>
                    <div class="card-footer">
                        <small>2020-08-30</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Progress</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{progress}">OPEN</small>
                    </div>
                </div>

                <a th:href="@{/tasks/progress/{id}(id=*{id})}" class="button prBtn">Progress</a>
            </div>

        </form>
    </main>
    <footer th:replace="fragments/common :: footer"></footer>
</div>
</body>
</html>
