<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GIRA</title>
    <link rel="icon" href="/img/projectLogo.png" type="image/icon type">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:fragment="main-nav">
    <nav class="navbar navbar-expand-lg ">
      <span class="col-md-1" >
        <img src="/img/projectLogo.png" alt="Logo" width="50" height="50">
      </span>
        <a class="navbar-brand active col-md-1 title" href="/">Gira</a>
        <div class="collapse navbar-collapse  d-flex justify-content-end">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-5" th:unless="${@currentUser.isLoggedIn()}">
                    <a class="button" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item col-md-5" th:unless="${@currentUser.isLoggedIn()}">
                    <a class="button" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item col-md-5" th:if="${@currentUser.isLoggedIn()}">
                    <a class="button"th:href="@{/tasks/add}">Add Task</a>
                </li>
                <li class="nav-item col-md-5" th:if="${@currentUser.isLoggedIn()}">
                    <a class="button" th:href="@{/users/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<footer th:fragment="footer">
    <div class="container-fluid text-center">
        <div class="footer-background h6">
            &copy; Spring team 2020. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
