* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238, 238, 238);
    margin: 40px;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
    line-height: 1.2;
}

header h1 {
    border-bottom: 2px solid black;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}

main {
    padding-right: 30px;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.page main {
    flex-basis: 70%;
}

.page aside {
    flex-basis: 25%;
}

blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    color: #999EA8;
    border-left: 3px solid lightgray;
    padding-left: 25px;
    margin: 20px 0px 20px 20px;
    width: 40%;
    float: right;
    line-height: 1.5;
}

blockquote p {
    text-align: right;
}

img {
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    box-shadow: 1px 1px 13px -1px black;
}

.right-image {
    float: right;
    margin: 10px 15px;
    padding: 8px;
}

.left-image {
    float: left;
    margin: 10px 15px 10px 2px;
    padding: 8px;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

nav ul {
    list-style-type: square;
}

p {
    margin-bottom: 20px;
}