<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/commons :: head">
</head>

<body>
<header th:replace="/fragments/commons :: nav">
</header>
<main class="p-5 align-content-center bg-blur my-main">
    <h1 class="text-light border-left pl-2">Welcome to</h1>
    <h1 class="text-light border-left pl-2">My Music DB Application!</h1>
    <div class="d-flex justify-content-center">
        <div class="my-index-div w-50">
            <iframe class="w-100 h-100" src="https://www.youtube.com/embed/Q93n3dvaaTI?rel=0" title="YouTube video"
                    allowfullscreen></iframe>
        </div>
    </div>
</main>
<footer th:replace="/fragments/commons :: footer">
</footer>
</body>
</html>
