body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0;
    width: 70%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
}

table, td, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.result {
    width: 450px;
    text-align: left;
    padding-left: 7px;
}
