<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head}"></head>
<body>
<div class="page-container">
    <header th:replace="~{fragments/common :: main-nav}"></header>

    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Task</span></h1>
        <hr class="hr-3 w-25 bg-white"/>
        <form class="mx-auto w-25 bg-blur"
              th:action="@{/tasks/add}"
              th:method="POST"
              th:object="${taskModel}">
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="name" class="h4 mb-2">Name</label>
                </div>
                <input type="text" class="form-control" id="name"
                       th:field="*{name}"
                       th:errorclass="bg-danger"
                />
                <small class="text-danger"
                       th:if="${#fields.hasErrors('name')}"
                       th:errorclass="is-valid"
                       th:errors="*{name}">Name error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="description" class="h4 mb-2">Description</label>
                </div>
                <input type="text" class="form-control" id="description"
                       th:field="*{description}"
                       th:errorclass="bg-danger"/>

                <small class="text-danger"
                       th:if="${#fields.hasErrors('description')}"
                       th:errorclass="is-valid"
                       th:errors="*{description}">Description error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder  textCol d-flex justify-content-center">
                    <label for="dueDate" class="h4 mb-2">Due Date</label>
                </div>
                <input type="date" class="form-control" id="dueDate"
                       th:field="*{dueDate}"
                       th:errorclass="bg-danger"/>
                <small class="text-danger"
                       th:if="${#fields.hasErrors('dueDate')}"
                       th:errorclass="is-valid"
                       th:errors="*{dueDate}">Date error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder  textCol d-flex justify-content-center">
                    <label for="classification" class="h4 mb-2">Classification</label>
                </div>
                <select type="text" class="form-control" id="classification" name="classification">
                    <option value="">Select Classification</option>
                    <option th:each="cl : ${T(bg.manhattan.gira.model.entity.enums.ClassificationNameEnum).values()}"
                            th:value="${cl}"
                            th:text="${cl}"
                            th:selected="${cl} == *{classification}">FEATURE
                    </option>
                </select>
                <small th:if="${#fields.hasErrors('classification')}"
                       th:errorclass="is-valid"
                       th:errors="*{classification}"
                       class="text-danger">Classification error message</small>
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="button btn-warning  mb-3" value="Register">Add Task</button>
            </div>
        </form>
    </main>
    <footer th:replace="fragments/common :: footer"></footer>
</div>
</body>
</html>
