body {
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    grid-template-columns: 100px auto;
    gap: 10px;
    height: 100vh;
}

header, aside, main, footer {
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

header>h1 {
    display: inline-block;
    vertical-align: middle;
}

aside>ul {
   list-style-type: none; 
   margin: 0px;
   padding: 5px;
}

aside>ul>li>a {
    display: block;
    padding: 5px 0px;
    color: rgb(86, 40, 129);
    text-decoration: none;
}