@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');

#button {
	background-color: black;
	color: white;
	position: absolute;
	top: 150px;
}

@media screen and (min-width: 666px) {
	body form {
		width: 400px;
	}
}