* {
    box-sizing: border-box;
}

div, section {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 65vw;
    margin: 80px auto;
}

span {
    border: 1px solid black;
    padding: 15px 15px 70px 15px;
}

.notes {
    flex-direction: column;
}

.week {
    flex-wrap: wrap;
}

.workweek,
.weekend {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.weekday {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.notes span {
    flex-grow: 1;
    text-align: center;
}