#wrapper {
    background-color: #5bc0de;
}

#first-heading {
    font-weight: bold;
}

#second-heading {
    font-weight: bold;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

span {
    font-weight: bold;
}